h2= title
#body
    table
      tbody
        tr
          td
            span Affiliate name: <b>#{affiliate.name}</b> 
          td
            span Website: <b>#{affiliate.website}</b> 
          td
            span Description: <b>#{affiliate.description}</b>
        tr
          td
            span Added by: <i>#{affiliate.created_by}</i> 
          td
            span on: <i>#{affiliate.created_at.toDateString()}</i> 
        tr
          td
            span Last Updated by: <i>#{affiliate.updated_by}</i> 
          td
            span on: <i>#{affiliate.updated_at.toDateString()}</i> 
    table
      tbody
        - each api, i in affiliate.apis
          tr
            td
              span <u>Pixel #{i+1}</u>
          tr
            td
              span url: <b>#{api.url+' '}</b>
            td
              span webpage: <b>#{api.webpage}</b>
    div
      h3
        span Add another <em><b>#{affiliate.name}</em></b> pixel:
      div
        form( method="post", action="/app/affiliate/api/create")
          input( type="hidden", name="_id", value=affiliate._id)
          div
            span Url: 
            input( type="text", name="url", id="addApiUrl")
            span Webpage: 
            input( type="text", name="webpage", id="addApiWebpage")
            span User: 
            input( type="text", name="user", id="addApiUser")
            div#editAffiliateSubmit
            input(type="submit", value="Send")
