h2= title
#body
  table
    tbody
    - each affiliate in affiliates
      tr
        td
          a(href="/app/affiliate/"+affiliate._id.toHexString())!= affiliate.name
        td
          span #{affiliate.description}
        td
          span #{affiliate.website}
      tr
        td
        td
          span <i>#{affiliate.created_by}</i>
        td
          span <i>#{affiliate.created_at.toDateString()}</i>
      tr
  table
    tbody
      tr
        td
          <input type="button" value="Add New Affiliate" onClick="ajax('main_content','/app/affiliate/create'); return false;"/>
